[submodule "shopify-app"]
	path = shopify-app
	url = git@github.com:gonzalomelov/shopify-app.git
[submodule "target-onchain"]
	path = target-onchain
	url = git@github.com:gonzalomelov/target-onchain.git
[submodule "product-recommender"]
	path = product-recommender
	url = git@github.com:gonzalomelov/product-recommender.git
[submodule "eas-indexing-service"]
	path = eas-indexing-service
	url = git@github.com:gonzalomelov/eas-indexing-service.git
[submodule "target-onchain-nfts-for-you"]
	path = target-onchain-nfts-for-you
	url = git@github.com:gonzalomelov/target-onchain-nfts-for-you
